@font-face {
	font-family: 'proggySquare';
	src: url('res/ProggySquare.ttf');
}

@font-face {
	font-family: 'proggyTiny';
	src: url('res/ProggyTiny.ttf');
}

:root {
	--main-dark-color: #040004;
	--main-grey-color: #413D3D;
	--main-hover-color: rgba(75,0,15,0.4);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
	font-family: 'proggySquare'; 	
	text-rendering: geometricPrecision;

	background: url("res/bgs/bg1.jpg") no-repeat center center fixed;
	background-size: cover;
}

img {
	max-width:100%;
	max-height:100%;
	width: auto;
	height: auto;
}

#main_container {
	display:inline-flex;
}

#image {
	object-fit: cover;
	pointer-events: none;
	width: 300px;
	height: 500px;
	display: none;
}

#links {
	margin-left: 1%; margin-top: 2%;
	width: 200px; height: 500px;
}

.title {
	margin-top: 1%; margin-bottom: 1%;
}

a {
	text-decoration: none;
	font-family: 'proggyTiny';
	color: var(--main-gray-color);
	transition: .2s;
}

a:hover {
	color: var(--main-dark-color);
}

li {
	padding-left: 5px;
	border-left: 2px solid var(--main-hover-color);
	transition: .2s;
	line-height: 14px;
}

li:hover {
	border-left: 8px solid var(--main-hover-color);
}

ul {
	padding-top: 12px;
	padding-left: 12px;
	list-style-type: none;
	margin-left: 0;
}