:root {
	--main-dark-color: #040004;
	--main-grey-color: #413D3D;
	--main-hover-color: rgba(75,0,15,0.4);
}

html {
	font-family: 'Roboto Condensed', sans-serif;

	user-select: none;

	background: url("res/bgs/bg1.jpg") no-repeat center center fixed;
	background-size: cover;
}

#container {
	display:inline-flex;
}

#image {
	width: 300px;
	height: 500px;

	object-fit: cover;
	pointer-events: none;

	border: 5px solid var(--main-dark-color);
}

#links {
	width: 200px; 
	height: 500px;

	margin: 2% 0% 0% 1%;
}

.title {
	margin: 1% 0% 1% 0%;

	font-weight: bold;
}

a {
	text-decoration: none;
	color: var(--main-gray-color);

	transition: .2s;
}

a:hover {
	color: var(--main-dark-color);
	transition: .2s;
}

li {
	padding-left: 5px;

	line-height: 1rem;
	border-left: 2px solid var(--main-hover-color);

	transition: .2s;
}

li:hover {
	border-left: 8px solid var(--main-hover-color);

	transition: .2s;
}

ul {
	margin-left: 0;

	padding-top: 5%;
	padding-left: 5%;

	list-style-type: none;
}